@font-face {
    font-family: 'Protest Riot';
    src: url('../fonts/Protest_Riot/ProtestRiot-Regular.ttf')
}

h1 {
    color: #8C271E;
    font-family: 'Protest Riot', Arial, sans-serif;
}

body {
    background-color: #EAEAEA;
    font-size: 20px;
    font-family: Arial, sans-serif;
  }

  nav {
    background-color: #EAEAEA;
    text-align: right;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    margin: 5px;
  }

  ul {
    list-style-type: none;
    padding: 2rem;
  }

  li {
    display: inline-block;
    margin: 0 0.5rem;
  }

  a {
    text-decoration: none;
    color: #00120B;
  }

  a:hover {
    text-decoration: underline red;
    color: #00120B;
  }

  /* Code snippet container styling, as suggested by chatGPT */
  .code-snippet-container {
    color: white;
    background-color: #00120B;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem auto;
    border: transparent;
    border-radius: 8px;
    overflow: auto;
  }

  