@font-face {
    font-family: 'Protest Riot';
    src: url('../fonts/Protest_Riot/ProtestRiot-Regular.ttf')
}

h1 {
    color: green;
    font-family: 'Protest Riot', Arial, sans-serif;
}

body {
    background-color: #EAEAEA;
    font-size: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }

  nav {
    background-color: #EAEAEA;
    text-align: right;
  }

  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.15rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    color: #333;
    margin: 0.5rem;
  }

  ul {
    list-style-type: none;
    padding: 2rem;
  }

  li {
    display: inline-block;
    margin: 0 0.5rem;
  }

  a {
    text-decoration: none;
    color: #00120B;
  }

  a:hover {
    text-decoration: underline red;
    color: #00120B;
  }

  /* Code snippet container styling, as suggested by chatGPT */
  .code-snippet-container {
    font-size: 1.35rem;
    color: greenyellow;
    background-color: #00120B;
    max-width: 800px;
    margin: 0.5rem;
    padding: 1rem;
    border: transparent;
    border-radius: 8px;
    overflow: auto;
  }

  .my-snippets-container {
    display: flex; 
    flex-direction: row-reverse;  
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    overflow: auto; 
  }

  .update-delete-text {
    text-align: center; 
  }

  .snippet-code-text-box {
    background-color: black; 
    color: greenyellow;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem; 
  }

  pre {
    padding: 1.2rem;
  }

  .crud-btn {
    font-size: 1.15rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    color: #333;
    margin-top: 1rem;
  }

  .delete-warning-text {
    margin-top: 1rem; 
  }

  .delete-btn {
    background-color: red; 
    color: white;
    border: 0.1rem solid red;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  footer {
    text-align: right;
  }

  