<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./snippets">My Snippets</a></li>
        <li><a href="./snippets/create">Create Snippet</a></li>
        <li><a href="./users/register" class="button">Register</a></li>
        <!-- If-statement to render logout-btn when user is logged in -->
        <li><a href="./users/login" class="button">Login</a></li>
    </ul>
</nav>