<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./snippets">My Snippets</a></li>
        <li><a href="./snippets/create">Create Snippet</a></li>
        <li><a href="./users" class="button">Register</a></li>
        <li><a href="./users" class="button">Login</a></li>
    </ul>
</nav>

<h1>Create New Snippet</h1>

<form class="snippet-create" method="post" action="./snippets/create">
    <label for="snippet-code-text-box">
        My Snippet:
    </label><br>
    <textarea rows="5" cols="50" class="snippet-code-text-box" name="description" required autofocus></textarea><br>
    <button type="submit" class="crud-btn">Create</button>
</form>