<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./snippets">My Snippets</a></li>
        <li><a href="./snippets/create">Create Snippet</a></li>
        <li><a href="./users/register" class="button">Register</a></li>
        <li><a href="./users/login" class="button">Login</a></li>
    </ul>
</nav>

<h1>My Snippets</h1>
<p>
    Here you can view, update and delete your current snippets
</p>

<div class="my-snippets-container">
    <% if (viewData?.snippets?.length) { %>
        <% for (const snippet of viewData.snippets) { %>
            <div class="my-snippet">
                <div class="code-snippet-container">
                    <pre>
                    <code>
                    <%= snippet.description %>
                    </code>
                </pre>
                </div>
                <div class="update-delete-text">
                    <a href="./snippets/<%= snippet.id %>/update">Update</a>
                    <a href="./snippets/<%= snippet.id %>/delete">Delete</a>
                </div>
            </div>

            <% } %>
                <% } else { %>
                    <p class="text-center text-danger">There are no snippets to display</p>
                    <% } %>
</div>