<h1>
    Code Snippets
</h1>
<h2>
    Save your brilliant code ideas
</h2>

<div class="code-snippet-container">
    <pre>
        <code>for (let i = 0; i < numberOfPlayers; i++) {
            const standValue = Math.round(Math.random() * (18 - 9) + 9)
            const player = new Player(`Player ${i + 1}`, standValue)
        
            this.#players.push(player)
        }</code>
    </pre>
</div>