<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./snippets">My Snippets</a></li>
        <li><a href="./snippets" class="button">Register</a></li>
        <li><a href="./snippets" class="button">Login</a></li>
    </ul>
</nav>

<h1>
    Code Snippets
</h1>
<h2>
    Save and share brilliant code
</h2>

<div class="code-snippet-container">
    <pre>
        <code>for (let i = 0; i < numberOfPlayers; i++) {
            const standValue = Math.round(Math.random() * (18 - 9) + 9)
            const player = new Player(`Player ${i + 1}`, standValue)
        
            this.#players.push(player)
        }</code>
    </pre>
</div>