<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./snippets">My Snippets</a></li>
        <li><a href="./snippets/create">Create Snippet</a></li>
        <li><a href="./users/register" class="button">Register</a></li>
        <li><a href="./" class="button">Login</a></li>
    </ul>
</nav>

<h1>User Login</h1>
<p>Login with your username and password to modify current and create new snippets</p>

<form class="register-user" method="post" action="./">
    <label for="username">
        Username:
    </label><br>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">
        Password:
    </label><br>
    <input type="text" id="password" name="password" required><br><br>
    <button type="submit" class="crud-btn">Login</button>
</form>